body {
    font-family: 'Georgia', serif;
    background-color: #F2EFC7;
    color: #965a43;
}

h1, h2, h3 {color: #63372C;}

h2, h3 {text-align: center;}

hr {
    background-color: #C97D60;
    height: 2.5px;
    margin: 30px 0;
    border-radius: 3px;
}

nav {
    background-color: #AF5C3C;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a:link, nav a:visited {color: white;}
nav a:hover {color: #FEBCB5}

.nav_title {
    font-size: 1.85em;
    color: white;}

.food_flex, .fruit_flex {
    display: flex;
    justify-content: center;
    gap: 14px;
    flex-wrap: wrap;
}

.food, .fruit {
    background-color: #FFEEE2;
    padding: 12px;
    border-radius: 20px;
    border: 3px solid #63372C;
    box-sizing: border-box;
    flex: 0 1 24%;
    max-width: 24%;
}

.food img, .fruit img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

@media only screen and (max-width: 650px) {
    nav a {
        width: 100%;
        display: block;
        margin: 8.5px;
    }
    nav span {display: none;}
}